.App {
  background-color: blue;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 12vh;
}

.div-header {
  
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.start-text {
  font-size: calc(5px + 1vmin);
  margin-left: 20vw;
  margin-right: 6vw;
}

.App-body {
  background-color: rgb(1, 47, 22);
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-footer {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 8vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
