.fade{
    color: rgb(2, 0, 0); text-shadow: black 0.1em 0.1em 0.2em;
    border: 10px outset rgb(8, 1, 109);
    border-right: 10px outset rgb(8, 1, 109) ;
    background-color: rgb(8, 1, 109);
    margin-top:50px;
}
a{
    font-size: large;
    font-stretch: semi-condensed;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif   ;
    margin-right:100px;
    color:rgb(250, 244, 244);
}
.pagina-inicial{
    margin-left: 250px;
}
header{
    margin-top: -13mm;
    margin-right: -2mm;
    margin-left: -2mm;
    background-image:radial-gradient(rgb(19, 0, 37),rgb(164, 9, 202));
}
body{
    background-image:radial-gradient(rgb(19, 0, 37),rgb(164, 9, 202))
}
h2{
    margin-left: 550px;
    font-style:oblique;
    font-weight: bolder;
    font-family:Tahoma
}
footer{
    background-image:radial-gradient(rgb(19, 0, 37),rgb(164, 9, 202));
    margin-bottom: -30mm;
    margin-top: 50mm;
    margin-right: -2mm;
    margin-left: -2mm;
}