a{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    border: 5px outset rgb(164, 9, 202);
    background-color: rgb(164, 9, 202);
}
.fade{
    margin-left: 400px;
}
body{
    background-image:radial-gradient(rgb(19, 0, 37),rgb(164, 9, 202))
}
th{
    border: outset;
    background: rgb(59, 25, 99);
}
td{
    border: outset;
    background-color: rgb(83, 67, 104);
}
h2{
    margin-left: 550px;
    font-style:oblique;
    font-weight: bolder;
    font-family:Tahoma
}