a{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    border: 3px outset rgb(2, 189, 2);
    background-color: green;
    
}
body{
    background-image:radial-gradient(yellow,green);
}
th{
    border: outset;
    background: rgb(136, 209, 26);
}
td{
    border: outset;
    background-color: rgb(136, 209, 26);
}